### Commented entries have reasonable defaults.
### Uncomment to edit them.
# Source: <source package name; defaults to package name>
Section: misc
Priority: optional
Homepage: http://awgn.github.io/cgrep/
Standards-Version: 4.1

Package: cgrep 
Version: 5.0-jessie
Maintainer: Nicola Bonelli <nicola.bonelli@gmail.com>
# Pre-Depends: <comma-separated list of packages>
Depends: libc6, libgmp10, libffi6 
# Recommends: <comma-separated list of packages>
# Suggests: <comma-separated list of packages>
# Provides: <comma-separated list of packages>
# Replaces: <comma-separated list of packages>
Architecture: amd64 
# Copyright: <copyright file; defaults to GPL2>
# Changelog: <changelog file; defaults to a generic changelog>
# Readme: <README.Debian file; defaults to a generic one>
# Extra-Files: <extra files for the doc entry> 
Files: usr/bin/cgrep / 

Description: cgrep
    CGrep: a context-aware grep for source codes.
